<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="" address="net.tcp://127.0.0.1:22222/chatservice" binding="netTcpBinding" bindingConfiguration="DuplexBinding" contract="IChat"/>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="DuplexBinding" sendTimeout="00:00:05">
          <reliableSession enabled="true"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
